<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/topico/delete/{{_id}}" method="POST">
                    <div class="form-group">
                        <input type="text" name="nomeRecebido" placeholder="Nome do Topico" class="form-control" autofocus>
                    </div>
                    <div class="botaoEnviar">
                        <button type="submit" class="btn btn-success btn-block">
                            Save
                         </button>
                    </div>

                    <div class="botaoCancelar">
                        <button type="" class="btn btn-success btn-block">
                            Cancelar
                         </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>