<div class="jumbotron">
    <h1 class="display-4">TypeScript App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deleniti esse, minima ratione natus nisi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, aperiam!</p>
    <a href="#" class="btn btn-primary btn-lg">
        Task List
    </a>
</div>
