{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/broker/create/{{usuario._id}}" method="POST">
                    <div class="form-group">
                        <input type="text" name="numeroIp" placeholder="Numero de IP" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="porta" placeholder="Porta">
                    </div>
                    
                     <div class="form-group form-check">
                         <input type="checkbox" class="form-check-input" id="clear">
                         <label class="form-check-label" for="clear">Clear Session</label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="payload" placeholder="Payload" class="form-control" autofocus>
                    </div>
                     <div class="form-group">
                        <input type="number" class="form-control" name="qos" placeholder="QoS">
                    </div>

                    <div class="form-group form-check">
                         <input type="checkbox" class="form-check-input" id="retain">
                         <label class="form-check-label" for="retain">Retain</label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="usuario" value="{{usuario.nomeUsuario}}"
                            placeholder="Nome de Usuario">
                    </div>


                    <div class="botaoEnviar">
                        <button type="submit" class="btn btn-success btn-block">
                            Save
                        </button>
                    </div>

                    <div class="botaoCancelar">
                        <button type="" class="btn btn-danger btn-block">
                            Cancelar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>