<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTE CRUD</title>

                         <!--PARTE DO BOOTSTRAP-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
                         <!-- PARTE CSS -->
    <link rel="stylesheet" href="../css/estilo.css">

</head>
<body>
    
    {{> navigation }}

    <div class="container">
        {{{ body }}}
    </div>

    

</body>
</html>